.header-rellax {
    background-image: url(../Imagens/teste-image.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
    position: relative;
    top: 0;
    height: 100vh;
}

.titulo{
    z-index: 3;
    top: 44%;
    position: absolute;
    width: 100%;
    text-align: center;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.71);
}

.descricao{
    z-index: 3;
    top: 51.5%;
    position: absolute;
    width: 100%;
    text-align: center;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.71);
}

.bloco{
    height: 100vh;
    padding-top: 10%;
    padding-bottom: 10%;
}

.bg-black{
    background-color: black
}