.titulo{
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.71);
}

.descricao{
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.71);
}

.bloco{
    height: 100vh;
    padding-top: 15%;
    padding-bottom: 10%;
}

.bg-black{
    background-color: black
}

.view {
    background-image: url(../Imagens/teste-image.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
    position: relative;
    top: 0;
    height: 100vh;
}

@media (min-width: 768px) {
    .view {
        overflow: visible;
        margin-top: -56px;
    }
}

.nav-link, .navbar-brand{
    color: #573362!important;
    font-weight: bold;
    text-shadow: 1px 0px 4px #FFFFFF;
}

.navbar {
    z-index: 1;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: transparent;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #573362;
    }
    
    .nav-link, .navbar-brand{
        color: white !important;
        font-weight: lighter;
        text-shadow: none;
    }
    .page-footer{
        margin-top: 11.4%;
    }
}

.size-icon{
    font-size: 7rem;
}

.purple{
    background-color: #4a148c
}